.input-bar-div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;  
  max-height: 100px;
  
}

.project-input {
  display: block;
}

.input-query-bar {
  z-index: 2;
  position: absolute;
  top: 0;
}

.description-text {
  font-size: 17px;
  padding-bottom: 60px;
}
