.input-bar-div {
  display: block;
}

.project-input {
  display: block;
}

.input-query-bar {
  position: fixed;
  z-index: 2;
}

.description-text {
  background-color: aqua;
  font-size: 17px;
  padding-bottom: 60px;
}
