.input-bar-div {
  display: block;
  
}

.project-input {
  display: block;
}

.input-query-bar {
  z-index: 2;
  position: absolute;
  top: 0;
}

.description-text {
  background-color: aqua;
  font-size: 17px;
  padding-bottom: 60px;
}
