.background {
  margin-left: -10px;
  margin-right: -10px;
  min-width: 1300px;
}

.title {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.project-updation-buttons {
  display: flex;
  column-gap: 10px;
}

.function-buttons {
  display: flex;
  column-gap: 20px;
}

.delete-button,
.add-button {
  z-index: 1;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.delete-button:hover,
.add-button:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.project-sidebar {
  display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  align-items: center;
  width: 130px;
  row-gap: 20px;
  left: 0;
}
.project-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.todo-list {
  display: grid;
  grid-template-columns: 200px 1fr;
  color: black;
  margin-top: 150px;
  top: 200px;
}

.todo-task-summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  place-items: center;
  column-gap: 10px;
  margin-left: 0px;
}

.project-div {
  z-index: 0;
  border-color: black;
  border-style: solid;
  background-color: white;
  max-width: 100px;
  row-gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-buttons {
  background-color: white;
  padding: 6px;
  border-radius: 3px;
}

.todo-buttons:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.todo-div {
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-title {
  display: flex;
  position: absolute;
  justify-content: center;
  font-size: 30px;
  margin-left: 00px;
  text-decoration: underline;
}
