.background {
  background-color: aquamarine;
  margin-left: -10px;
  margin-right: -10px;
  min-width: 1300px;
}

.title {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.project-updation-buttons {
  display: flex;
  column-gap: 10px;
}

.function-buttons {
  display: flex;
  column-gap: 20px;
}

.delete-button {
  z-index: 1;
  position: relative;
}

.project-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 130px;
  row-gap: 20px;
  left: 0;
}
.project-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.todo-list {
  display: grid;
  grid-template-columns: 200px 1fr ;
  color: black;
  padding: 0;
  bottom: 0;
  right: 0;
  top: 200px;
  min-height: 100vh;
  background-color: blue;
}

.todo-task-summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  place-items: center;
  column-gap: 10px;
  margin-left: 10px;
}

.project-div {
  z-index: 0;
  border-color: black;
  border-style: solid;
  max-width: 100px;
  row-gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-div {
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-title {
  display: flex;
  position: absolute;
  justify-content: center;
  font-size: 30px;
  margin-left: 00px;
  text-decoration: underline;
}
